<div class="ui container">
    <div class="ui secondary pointing menu">
        <!--the links below define a path to different modules with routerLink, also showing in the header the module name-->
        <a routerLink="/elements" routerLinkActive="active" class="item">Elements</a>
        <a routerLink="/collections" routerLinkActive="active" class="item">Collections</a>
        <a routerLink="/views" routerLinkActive="active" class="item">Views</a>
    </div>
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>


<!--routerLinkActive="active" tells angular that when this link is being visited we are going to apply the class described between ""-->







